<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>טבלה ריקה</title>
</head>
<body>
    <h1 dir="rtl">אין מוזמנים!</h1>
<p dir="rtl">היי, הטבלה ריקה מאורחים...<br>
    נסה/י להוסיף אורחים בהתאם לדרישות(שם, מספר פלאפון, אורחים הצפויים להגיע וכו')<br> אם אינך יכול/ה למלא כנראה שאף אחד לא אוהב אותך ותתחתנו ברבנות בבקשה. </p>
<img src="static/images/noguest.jpeg">
</body>
<style>
    h1{
      text-align: center;
      font-size: 100px
        }
    p{
        text-align: center;
        font-size: 39px
    }
    body{
        font-family: Arial;
    }
    img{
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
</style>
</html>