<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='styles-home.css') }}"
    />
    <link
      rel="icon"
      type="image/x-icon"
      href="static/images/wedding-ring.jpeg"
    />
    <title>אירגון חתונה</title>
  </head>
  <body>
    <header>
      <div class="header-content">
        <div id="date" class="date"></div>
        <h1>אירגון חתונה</h1>
        <div id="clock" class="clock"></div>
      </div>
    </header>

    <div class="main-content">
      <div class="form-image-container">
        <div class="imageContainer">
          <img
            src="static/images/תמונה אדר ואלעד.jpg"
            alt="תמונה של אדר ואלעד צד ימין"
            class="adar"
          />
        </div>

        <form id="registrationForm" action="/submit" method="POST">
          <label for="name">שם:</label>
          <input type="text" id="name" name="name" required />

          <label for="phone">מספר פלאפון:</label>
          <input type="text" id="phone" name="phone" required />

          <label for="number"
            >כמות אורחים שצפויים להגיע (כולל את הבן אדם):</label
          >
          <input
            type="number"
            id="number"
            name="number"
            min="1"
            max="5"
            required
          />

          <label for="side">צד:</label>
          <select name="side" id="side" required>
            <option value="">--בחר אופציה--</option>
            <option value="חתן">חתן</option>
            <option value="אבא חתן">אבא חתן</option>
            <option value="אמא חתן">אמא חתן</option>
            <option value="כלה">כלה</option>
            <option value="אבא כלה">אבא כלה</option>
            <option value="אמא כלה">אמא כלה</option>
          </select>

          <label for="relationship">קירבת האורחים:</label>
          <select name="relationship" id="relationship" required>
            <option value="">--בחר אופציה--</option>
            <option value="משפחה קרובה">משפחה קרובה</option>
            <option value="משפחה רחוקה">משפחה רחוקה</option>
            <option value="חברים מהבית">חברים מהבית</option>
            <option value="חברים מהעבודה">חברים מהעבודה</option>
          </select>

          <input type="submit" value="שמירה 💾" />
        </form>

        <div class="imageContainer">
          <img
            src="static/images/תמונת נישואין אדר.jpg"
            alt="תמונה של טבעת אדר ואלעד"
            class="ring"
          />
        </div>
      </div>

      <div class="button-group">
        <form id="downloadForm" action="/download" method="GET">
          <button type="submit" class="btn download-button">
            <br />
            הורדת Excel 📑
          </button>
        </form>

        <form class="guestForm" action="/guest_table" method="GET">
          <button type="submit" class="btn guest-button">
            <br />הצגת טבלה 📖
          </button>
        </form>

        <form id="DeleteForm" action="/clear" method="POST">
          <button type="submit" class="btn delete-button">מחק הכל ⚠️</button>
        </form>
      </div>
    </div>

    <script>
      function createEmojiRain() {
        const emojiContainer = document.createElement("div");
        emojiContainer.classList.add("emoji-container");
        document.body.appendChild(emojiContainer);

        const emoji = "💍        🖤"; // Wedding ring emoji
        const numberOfEmojis = 100; // Number of emojis
        for (let i = 0; i < numberOfEmojis; i++) {
          let emojiElement = document.createElement("div");
          emojiElement.textContent = emoji;
          emojiElement.classList.add("emoji");
          emojiElement.style.left = Math.random() * 100 + "vw";
          emojiElement.style.top = Math.random() * 100 + "vh";
          emojiElement.style.opacity = Math.random();
          emojiElement.style.fontSize = Math.random() * 30 + "px"; // Random size
          emojiContainer.appendChild(emojiElement);

          animateEmoji(emojiElement);
        }

        setInterval(() => {
          for (let i = 0; i < numberOfEmojis; i++) {
            let emojiElement = document.createElement("div");
            emojiElement.textContent = emoji;
            emojiElement.classList.add("emoji");
            emojiElement.style.left = Math.random() * 100 + "vw";
            emojiElement.style.top = "-10vh"; // Start above the viewport
            emojiElement.style.opacity = Math.random();
            emojiElement.style.fontSize = Math.random() * 30 + "px"; // Random size
            emojiContainer.appendChild(emojiElement);

            animateEmoji(emojiElement);
          }
        }, 12000); // Add new emojis every 5 seconds
      }

      function animateEmoji(emojiElement) {
        let posY = parseFloat(emojiElement.style.top);
        const interval = setInterval(() => {
          posY += 2; // Adjust fall speed
          emojiElement.style.top = posY + "px";
          if (posY > window.innerHeight) {
            emojiElement.remove(); // Remove emoji when it goes off screen
            clearInterval(interval);
          }
        }, 50);
      }

      createEmojiRain();

      function updateClock() {
        const now = new Date();
        const hours = now.getHours().toString().padStart(2, "0");
        const minutes = now.getMinutes().toString().padStart(2, "0");
        const seconds = now.getSeconds().toString().padStart(2, "0");
        const timeString = `${hours}:${minutes}:${seconds}`;
        document.getElementById("clock").textContent = timeString;
      }

      function displayDate() {
        const now = new Date();
        const date = document.getElementById("date");

        date.innerHTML = now.toLocaleDateString("he-IL", {
          weekday: "long",
          year: "numeric",
          month: "long",
          day: "numeric",
        });
      }

      setInterval(updateClock, 1000);
      updateClock(); // Initial call to display clock immediately
      displayDate();
    </script>
  </body>
</html>
