<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='styles-home.css') }}"
    />
    <link
      rel="icon"
      type="image/x-icon"
      href="static/images/wedding-ring.jpeg"
    />
    <title>אירגון חתונה</title>
  </head>
  <body>
    <form id="registrationForm" action="/submit" method="POST">
      <h1>אירגון Excel לחתונה</h1>
      <label for="name">שם:</label>
      <input type="text" id="name" name="name" required />

      <label for="phone">מספר פלאפון:</label>
      <input type="text" id="phone" name="phone" required />

      <label for="number">כמות אורחים שצפויים להגיע(כולל את הבן אדם):</label>
      <input type="number" id="number" name="number" min="1" max="5" required />

      <label for="side">צד:</label>
      <select name="side" id="side" required>
        <option value="">--בחר אופציה--</option>
        <option value="חתן">חתן</option>
        <option value="אבא חתן">אבא חתן</option>
        <option value="אמא חתן">אמא חתן</option>
        <option value="כלה">כלה</option>
        <option value="אבא כלה">אבא כלה</option>
        <option value="אמא כלה">אמא כלה</option>
      </select>

      <label for="relationship">קירבת האורחים:</label>
      <select name="relationship" id="relationship" required>
        <option value="">--בחר אופציה--</option>
        <option value="משפחה קרובה">משפחה קרובה</option>
        <option value="משפחה רחוקה">משפחה רחוקה</option>
        <option value="חברים מהבית">חברים מהבית</option>
        <option value="חברים מהעבודה">חברים מהעבודה</option>
      </select>

      <input type="submit" value="שמירה" />
    </form>

    <!-- Form to download Excel -->
    <form id="downloadForm" action="/download" method="GET">
      <button type="submit">הורדת Excel</button>
    </form>

    <form class="guestForm" action="/guest_table" method="GET">
      <button type="submit" class="guest-button">הצגת טבלה</button>
    </form>

    <!-- Form to delete all records -->
    <form id="DeleteForm" action="/clear" method="POST">
      <button type="submit" class="delete-button">מחק הכל</button>
    </form>
  </body>
</html>
