body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    text-align: right;
    direction: rtl;
}

h1 {
    color: #333;
    margin-top: 150px;
    margin-bottom: 20px;
    text-align: center;
}

form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    margin-bottom: 20px;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
    color: #555;
}

input[type="text"],
input[type="number"],
select {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="submit"],
button {
    width: 100%;
    padding: 10px;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

input[type="submit"] {
    background-color: #4CAF50;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

button {
    background-color: #008CBA;
}

button:hover {
    background-color: #007bb5;
}

button.delete-button {
    background-color: #f44336;
}

button.delete-button:hover {
    background-color: #e53935;
}


/* Media Query for tablets and smaller screens */
@media (max-width: 768px) {
    form {
        width: 90%;
    }

    input[type="submit"],
    button {
        font-size: 14px;
    }
}

/* Media Query for mobile devices */
@media (max-width: 480px) {
    form {
        width: 100%;
    }

    input[type="submit"],
    button {
        font-size: 12px;
        padding: 8px;
    }
}
html, body {
    height: 100%;
    margin: 0;
    overflow: auto; /* Ensure scrolling is enabled */
}

button.search-button{
    background-color: #ff9800; /* Orange background */
    color: #fff; /* White text color for contrast */
}



