body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f5;
    margin: 0;
    padding: 0;
    text-align: right;
    direction: rtl;
    overflow-x: hidden; /* Prevent horizontal scroll */
    overflow-y: auto; /* Allow vertical scroll */
    position: relative; /* Positioning context for emoji rain */
    min-height: 100vh; /* Ensure body takes at least viewport height */
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #000000;
    color: white;
    padding: 15px;
    z-index: 1000; /* Ensure header is on top of other elements */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: block;
    text-align: center;
  }


.main-content {
    padding: 100px 20px 20px; /* Add padding to avoid overlap with header */
    position: relative; /* Ensure content is above the emoji rain */
    z-index: 1; /* Content above the emoji rain */
}

.form-image-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px auto; /* Adjust margin for spacing */
    max-width: 1200px;
    background-color: #ffffff;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
    margin-top: 35px;
}

.imageContainer {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 20px;
}

.imageContainer img {
    max-height: 300px;
    max-width: 200px;
    border-radius: 15px;
    transition: transform 0.3s ease-in-out;
}

.imageContainer img:hover {
    transform: scale(1.05);
}

form {
    border: 2px solid #000000; /* Black border */
    border-radius: 8px; /* Rounded corners, optional */
    padding: 20px; /* Space between border and content */
    background-color: #ffffff; /* Background color inside the form */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Optional shadow for better effect */
    max-width: 600px; /* Adjust based on your needs */
    margin: auto; /* Center the form horizontally */
    display: flex;
    flex-direction: column; /* Stack children vertically */
    align-items: center; /* Center children horizontally */
}

form label {
    display: block;
    margin-bottom: 10px;
    color: #2d3436;
    font-weight: bold;
    width: 100%;
    text-align: right;
}

form input[type="text"],
form input[type="number"],
form select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 2px solid #4b6584;
    border-radius: 8px;
    box-sizing: border-box;
    font-size: 1em;
}

form input[type="submit"] {
    background-color: #242424;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1.2em;
    transition: background-color 0.3s;
    margin-top: 45px; /* Space above the button */
}

form input[type="submit"]:hover {
    background-color: #2d3436;
    margin-right: 10px;
}

.button-group {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    flex-wrap: wrap; /* Ensure buttons wrap if they exceed screen width */
}

.btn {
    background-color: #4b6584;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1.2em;
    transition: background-color 0.3s, transform 0.3s;
    margin: 5px;
    width: 150px; /* Set a fixed width for all buttons */
    text-align: center; /* Center text inside buttons */
}

.btn:hover {
    background-color: #2d3436;
    transform: scale(1.05);
}

.download-button, .guest-button, .delete-button {
    background-color: #242424;
}

.emoji-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    pointer-events: none; /* Ignore mouse events */
    z-index: 0; /* Place behind other content */
}

.emoji {
    position: absolute;
    white-space: nowrap;
    pointer-events: none; /* Ignore mouse events */
}
